[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
Werkzeug = "==0.14.1"

[packages]
Django = ">=2.0"
cfenv = "*"
cg-django-uaa = "*"
dj-database-url = "*"
django-debug-toolbar = "==1.10.1"
docutils = ">=0.10"
typogrify = ">=2.0.0"
